* {
  /* outline: 1px solid red; */
  margin: 0;
  /* border: 0; */
  padding: 0;
}

body {
  height: 100vh;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.map {
  outline: 1px solid black;
  width: 100%;
  height: 400px;
  margin: 20px 0;
  border-radius: 6px;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  background-color: white;
  outline: 1px solid black;
  border-radius: 6px;
}

.weather #description {
  margin: 10px 0;
}

.weather img {
  height: 100px;
  width: 100px;
  border: 0;
  border-radius: 6px;
  outline: 3px solid black;
  margin: 10px 0;
}

.location {
  margin: 10px 0;
  font-weight: bold;
}

.weatherContainer {
  /* background-color: rgb(255, 128, 128); */
  /* padding: 5px; */
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weatherItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  transition: all ease-in-out 0.5s;
}

.weatherItem:hover {
  transform: scale(1.1);
  /* transition: all ease-in-out 0.2s; */
}

.weatherItem:active {
  transform: scale(1);
  transition: all ease-in-out 0.1s;
}

.weatherItem img {
  height: 30px;
  width: 30px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.unitsDropdown {
  position: absolute;
  margin-top: 90px;
  /* top: 100%; */
  animation: fade-in 0.5s;
}